.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  position: absolute; /* Позиционирование кнопки */
  top: 8px; /* Отступ от верхнего края карточки */
  right: 8px; /* Отступ от правого края карточки */
  background: transparent; /* Цвет фона кнопки */
  border: none;
  color: #fff; /* Цвет текста и иконки */
  width: 18px; /* Ширина кнопки */
  height: 18px; /* Высота кнопки */
  display: flex; /* Выравнивание иконки по центру */
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  cursor: pointer; /* Указатель при наведении */
  font-size: 14px; /* Размер шрифта */
  transition: background 0.3s; /* Плавный переход для изменения цвета */

  &:hover {
    color: #000; /* Цвет фона кнопки при наведении */
  }

  &:focus {
    outline: none; /* Убрать контур при фокусировке */
  }

  &::before {
    content: "X";
    font-size: 12px;
  }
}
